{% extends "base.html" %}

{% block title %}Email Tracking Report{% endblock %}

{% block content %}
    <h1>Email Tracking Report for "{{ bulk_email.name }}"</h1>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Opened</th>
        </tr>
        {% for tracking in tracking_data %}
        <tr>
            <td>{{ tracking.email }}</td>
            <td>{{ tracking.name }}</td>
            <td>{{ 'Yes' if tracking.opened else 'No' }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
